<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Submit review</title>
   <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    {% extends "main.html" %}
    {% block content %}
    <h1> Submit review </h1>
    <p> Enter a new restaurant review: </p>
	<form action="http://localhost:5000/save_new_review"  method = "POST">
	  User ID:<br>
	  <input type="text" name="userID" value="">
	  <br>
	  Restaurant hashCode:<br>
	  <input type="text" name="restaurantID" value="">
	  <br>
	  Rating (out of 5):<br>
	  <input type="text" name="rating" value="0">
	  <br><br>
	  <input type="submit" value="Submit">
	</form> 
    {% endblock %}
  </body>
</html>
